/* Estilos base */
html {
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

#root {
	flex: 1;
	min-height: 100%;
}

/* Media queries para tablets y celulares */
@media screen and (max-width: 768px) {
	body {
		font-size: 14px; /* Tamaño de fuente más pequeño para dispositivos más pequeños */
	}

	#root {
		background-size: cover;
		background-repeat: no-repeat;
	}
}

@media screen and (max-width: 480px) {
	body {
		font-size: 12px; /* Tamaño de fuente aún más pequeño para dispositivos muy pequeños */
	}
}
